*{
    font-family: Arial, Helvetica, sans-serif
}

.for_center{
    text-align: center
}

img{
    position: relative;
    right: 0.35cm
}

h2{
    color: #6b5acd
}

#form{
    color: white;
    margin: auto;
    border: 1px solid black;
    background-color: #6b5acd;
    width: 25.75cm
}

p{
    line-height: 1cm;
    position: relative;
    left: 0.3cm
}

#heading{
    text-decoration: underline
}

#name1{
    position: relative;
    left: 1.95cm
}

#name2{
    position: relative;
    left: 2.14cm
}

#date{
    position: relative;
    left: 1.35cm
}

#email{
    position: relative;
    left: 2.7cm
}

#m_number{
    position: relative;
    left: 0.95cm
}

#address{
    vertical-align: top
}

.align{
    position: relative;
    left: 2.5cm
}

.align2{
    position: relative;
    left: 2.7cm;
    display: inline-block
}

#city{
    position: relative;
    left: 3.55cm
}

#state{
    position: relative;
    left: 3.25cm
}

#hobbies{
    vertical-align: top;
    position: relative;
    top: 0.2cm
}

#table{
    position: relative;
    left: 4.85cm;
    bottom: 1.1cm;

}

#courses{
    position: relative;
    left: 1.7cm;
    bottom: 0.57cm
}

#size_input{
    height: 0.75cm;
    width: 5.35cm
}

#size_date{
    height: 0.8cm;
}

#buttons{
    position: relative;
    left: 10.3cm
}
